/* main page styles */
#calendar-btn {
  display: flex;
  margin: 200px auto;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #73b315;
  font-size: 24px;
}

/* modal styles */
#calendar-modal {
  display: none;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 50%;
  max-width: 720px;
  min-width: 300px;
  text-align: center;
}

#availability-msg {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rooms-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  text-align: left;
}

.modal-button {
  margin-top: 1rem;
  padding: 0.7rem 1.1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#btn-close-modal {
  background-color: #ff5722;
}

#btn-availability {
  background-color: #73b315;
}

#calendar {
  width: 50%;
}

/* flatpickr styles */
.flatpickr-price {
  font-size: 12px;
  color: #fff;
  background-color: #b5684f;
  border-radius: 0.2rem;
  padding: 1px 2px;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.flatpickr-price__cheapest {
  background-color: #a1af6d;
}

.flatpickr-calendar {
  margin: 0 auto;
}

.flatpickr-calendar.inline {
  margin: 20px auto;
}

.flatpickr-day {
  height: 60px;
  line-height: 20px;
  font-size: 17px;
}

.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
span.flatpickr-weekday,
.flatpickr-weekdays,
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #73b315;
  border-color: #73b315;
}

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 15px 15px 0;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 15px 0 0 15px;
}
